$bodyColor: #f8f6f6;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
  font-size: 62.5%;
  background: $bodyColor;
}

footer {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;

  a {
    text-decoration: none;
  }
}